<!DOCTYPE html>
<html>
  <head>
    <title>Orvalhoevents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <% if user_signed_in? %>
          <div class="d-flex justify-content-end">
            <%= render 'devise/menu/logout' %>
            <%= render 'devise/menu/register_link' %>
          </div>
        <% end %>
        <section class="d-flex justify-content-center py-5">
          <div>
            <h2>Orvalho Events presents</h2>
            <h1>Fuego Fest</h1>
            <h2 class="text-right">Wednesday, 31st July 2019</h2>
          </div>
        </section>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
